{% extends "base.twig" %}
{% block content %}
    <div class="container">

      <p>Or send me a message</p>
      <form name="getintouch" method="post" action="">

        <label>name *</label>
        <p>
          <input name="name" type="text" alt="Your Name" value="" tabindex="6" required>
        </p>

        <label>email *</label>
        <p>
          <input name="email" type="text" alt="Your Email" value="" tabindex="7" required>
        </p>

        <button class="btn btn-primary active" >Submit</button>
      </form>

    </div>
{% endblock %}
