<!doctype html>
<html lang="en" ng-app="Dashboard">
<head>
  <meta charset="{{ meta.charset }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="/css/dashboard.min.css">
  {% block css %}
  {% endblock %}
  <script type="text/javascript" src="/js/vendors.min.js"></script>
  <script type="text/javascript" src="/js/dashboard.min.js"></script>
  <!-- <script type="text/javascript" src="/js/dashboard/module.js"></script> -->
  <script type="text/javascript" src="/js/dashboard/controllers/master-ctrl.js"></script>
</head>
  <body ng-controller="MasterCtrl">
      <div id="page-wrapper" ng-class="{'active': toggle}" ng-cloak>
      <!-- Sidebar -->
      {% include 'nav.html' %}
      <!-- End Sidebar -->
        <div id="content-wrapper">
          <div class="page-content">
            <!-- Header Bar -->
            {% include 'header.html' %}
            <!-- End Header Bar -->
            <!-- Main Content -->
            <section data-ui-view></section>
            {#{% include 'messages.html' %}#}
            <!-- End Main Content -->
            {% block content %}
            {% endblock %}
            {% include 'footer.html' %}
            {% include 'js.html' %}
          </div><!-- End Page Content -->
        </div><!-- End Content Wrapper -->
      </div><!-- End Page Wrapper -->
    {% block js %}
    {% endblock %}
  </body>
</html>
