<!doctype html>
<html lang="en" ng-app="Dashboard">
<head>
  <meta charset="{{ meta.charset }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/admin/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="/admin/css/bootstrap-theme.min.css">
  {% block css %}
  {% endblock %}
  <script type="text/javascript" src="/admin/js/vendors.min.js"></script>
</head>
  <body>
      <div>
      <!-- Sidebar -->
      {% include 'nav.html' %}
      <!-- End Sidebar -->
        <div>
          <div class="page-content">
            <!-- Header Bar -->
            {% include 'header.html' %}
            {% block content %}
            {% endblock %}
            {% include 'footer.html' %}
            {% include 'js.html' %}
          </div><!-- End Page Content -->
        </div><!-- End Content Wrapper -->
      </div><!-- End Page Wrapper -->
    {% block js %}
    {% endblock %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="/admin/js/bootstrap.min.js"></script>
    </body>
</html>
