      <!--=== Copyright ===-->
      <footer>
        <HR>
        <div class="container">
          <div class="pull-right hidden-xs">
            <ul class="navcontainer pull-right">
              <li><a href="/">blog </a>//</li>
              <li><a href="/contact">contact </a>//</li>
              <li><a href="/about">about </a></li>
            </ul>
          </div>
          <div>
            <p>&copy; title |
              <a href="/about#framework">Romano.Framework</a>
            </p>
          </div>
          <ul class="navcontainer pull-center icons">
            <li>
              <a href="https://twitter.com/Thijzer" target="_blank">
                <img src="/default/img/twitter.png">
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/thijzer" target="_blank">
                <img src="/default/img/facebook.png"></a>
            </li>
            <li>
              <a href="https://plus.google.com/108354583103011120629/posts" target="_blank">
                <img src="/default/img/google.png">
              </a>
            </li>
          </ul>
        </div>
      </footer>
